<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ai.blockwell.qrdemo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".WalletApplication"
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".trainer.TrainerActivity"
            android:label="@string/title_activity_trainer"
            android:parentActivityName=".WalletActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ai.blockwell.qrdemo.WalletActivity" />
        </activity>
        <activity
            android:name=".generated.base.GeneratedActivity"
            android:label="@string/generated_fragments"
            android:parentActivityName=".trainer.TrainerActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ai.blockwell.qrdemo.trainer.TrainerActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="@string/register" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/login" />
        <activity
            android:name=".qr.TxSuccessActivity"
            android:screenOrientation="portrait"
            android:label="@string/login" />
        <activity android:name=".qr.TxActivity">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="https"
                    android:host="qr.blockwell.ai"
                    android:pathPattern="/......" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WalletActivity"
            android:label="@string/my_wallet"
            android:parentActivityName=".WalletActivity" />
        <activity
            android:name=".QrActivity"
            android:label="@string/qr_code" />
        <activity android:name=".SendActivity" />
        <activity
            android:name=".AddressQrActivity"
            android:parentActivityName=".SendActivity" />
        <activity
            android:name=".qr.TransactionQrActivity"
            android:parentActivityName=".WalletActivity" />
        <activity android:name=".suggestions.SuggestionsActivity" />
        <activity android:name=".qr.QrSuggestionsActivity" />
        <activity
            android:name=".LicensesActivity"
            android:label="@string/open_source_licenses" />
        <activity android:name=".WebViewActivity" />
    </application>

</manifest>